<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>

<body>
        <div class="menu">
            <div class="left">
                <div>
                    <div>
                        Dawid Mikołajczyk Inc.
                    </div>
                    <a class="podleft color1">Programowanie</a>
                    <a class="podleft color1">Informatyka</a>
                </div>
            </div>
            <div class="right color1">
              <a href="#">Dom</a>
              <a href="#">item2</a>
              <a href="#">Irtem3</a>
              <a href="#">Dom</a>
              <a href="#">Dom</a>
            </div>
        </div>
        
            <div class="grid-serwerownia">
        
                <div class="mach color1">
                    Machiny
                    <div class="tech color1">
                        Najnowszej technologii
                    </div>
                </div>

                <div class="serwerownia">
            
                </div>
                <div></div>

            </div>
            <div class="item-1">
                <div class="item1">
                    Jesteśmy po to, by Wam pomóc. <a class="color1">W każdej chwili.</a>
                </div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        
</body>

</html>