<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13-11-2020</title>
    <link rel="shortcut icon" href="../zdj/maxresdefault.jpg">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83a2ef4280.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu">
        <div class="left">
            <div>
                <div>
                    Dawid Mikołajczyk Inc.
                </div>
                <a class="podleft color1">Programowanie</a><a class="podleft color1" style="margin-left: 100px;">Informatyka</a>
            </div>
        </div>
        <div class="right color1">
            <a href="#">Dom</a>
            <a href="#">item2</a>
            <a href="#">Irtem3</a>
            <a href="#">Dom</a>
            <a href="#">Dom</a>
        </div>
    </div>
    <div class="grid-serwerownia">
        <div></div>
        <div class="serwerownia">
            <div class="mach color2">
                Machiny
                <div class="tech color2">
                    Najnowszej technologii
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <br>
    <br>
    <div class="item-1">
        <div class="item1" style="text-align: center;">
            Jesteśmy po to, by Wam pomóc. <a class="color1">W każdej chwili.</a>
        </div>
    </div>
    <div class="grid">
        <div></div>
        <div class="trisection">
            <div class="color1" style="font-size: 12px;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores reprehenderit officiis blanditiis nam
                nulla perferendis, voluptas maxime eos optio repudiandae inventore asperiores eveniet rerum aperiam
                delectus. Ullam ut ipsa ad.
                <img src="../zdj/americanmachinist_7919_ur_cobot_800_0.png">
            </div>
        </div>
        <div class="trisection">
            <div class="color1" style="font-size: 12px;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores reprehenderit officiis blanditiis nam
                nulla perferendis, voluptas maxime eos optio repudiandae inventore asperiores eveniet rerum aperiam
                delectus. Ullam ut ipsa ad.
                <img src="../zdj/first-what-is-the-big-fuss-really.webp">
            </div>
        </div>
        <div class="trisection">
            <div class="color1" style="font-size: 12px;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores reprehenderit officiis blanditiis nam
                nulla perferendis, voluptas maxime eos optio repudiandae inventore asperiores eveniet rerum aperiam
                delectus. Ullam ut ipsa ad.
                <img src="../zdj/maxresdefault.jpg">
            </div>
        </div>
        <div></div>
    </div>
    <div class="grid1">
        <div></div>
        <div class="color1" style="font-size: 12px;">
            <a>Lorem, ipsum dolor.</a>
            <br>
            <i class="fas fa-map-marker-alt color1"></i> <a>Lorem, ipsum.</a>
            <br>
            <a>Lorem ipsum dolor sit amet.</a>
            <br>
            <i class="fas fa-phone-alt color1"></i> 781 488 555
            <br>
            <i class="fas fa-laptop"></i> 781 488 555
            <br>
            <i class="far fa-envelope"></i> <a href="#">Lorem@google.com</a>
        </div>
        <div>
            <input type="text" placeholder="Imię">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Temat">
            <textarea id="subject" name="subject" placeholder="Treść" style="height:100px"></textarea>
            <input type="submit" value="Wyślij">
        </div>
        <div></div>
    </div>
    <footer class="footer">Dawid Mikołajczyk Inc. 2020</footer>
</body>

</html>